
exercise-1/data/cifar-10-batches-py/batches.meta
exercise-1/data/cifar-10-batches-py/data_batch_1
exercise-1/data/cifar-10-batches-py/data_batch_2
exercise-1/data/cifar-10-batches-py/data_batch_3
exercise-1/data/cifar-10-batches-py/data_batch_4
exercise-1/data/cifar-10-batches-py/data_batch_5
exercise-1/data/cifar-10-batches-py/readme.html
exercise-1/data/cifar-10-batches-py/test_batch
exercise-1/runs/cifar_cnn_lr0.001_sgd_epochs2_ActivationFunction_Tanh/events.out.tfevents.1648765924.Romel-d-Great.7512.10
exercise-1/runs/cifar_cnn_lr0.001_sgd_epochs2_ActivationFunction_ReLU/events.out.tfevents.1648988622.Romel-d-Great.12120.1
exercise-1/runs/cifar_cnn_lr0.001_sgd_epochs2_ActivationFunction_ReLU/events.out.tfevents.1648988434.Romel-d-Great.12120.0
exercise-1/runs/cifar_cnn_lr0.001_sgd_epochs2_ActivationFunction_ReLU/events.out.tfevents.1648765699.Romel-d-Great.7512.8
exercise-1/runs/cifar_cnn_lr0.001_sgd_epochs2_ActivationFunction_LeakyReLU/events.out.tfevents.1648765808.Romel-d-Great.7512.9
exercise-1/runs/cifar_cnn_lr0.001_adam_epochs2_ActivationFunction_Tanh/events.out.tfevents.1648766245.Romel-d-Great.7512.13
exercise-1/runs/cifar_cnn_lr0.001_adam_epochs2_ActivationFunction_ReLU/events.out.tfevents.1648766031.Romel-d-Great.7512.11
exercise-1/runs/cifar_cnn_lr0.001_adam_epochs2_ActivationFunction_LeakyReLU/events.out.tfevents.1648766131.Romel-d-Great.7512.12
exercise-1/data/cifar-10-python.tar.gz
